.navbar_wrapper {
  height: 80px;
  width: 100%;
  position: relative;

  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  z-index: 10;
}

.container {
  z-index: 20;
  position: absolute;
  width: 100vw;
  padding: 1vh 2vh;
  .logo {
    cursor: pointer;
  }
}

.navbar {
  position: relative;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.spacer {
  flex: 1;
}

.burger {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin-right: 4px;
}
