.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
}

#body {
  padding: 0;
  margin: 0;
  z-index: 0;
}

.cardoverflow {
  overflow-x: scroll;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}
